body {
    
background-color: #2b272e;
    
h1, h3, ul, p  {
    color: #ceb78f;
    font-familly: sans-serif, Roboto;
}

a {
    color: #ceb78f;
}

.navbar{
    background-color: #504857;
    color: #504857;
}

}

