body {
    
background-color: #2b272e;
    
h3, ul, p, a  {
    color: #a4927c;
    font-family: "Gill Sans Extrabold", sans-serif;
}

h1 {
    color: #ceb78f;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.navbar{
    font-family: "Gill Sans Extrabold", sans-serif;
    background-color: #504857;
    color: #504857;
}

}

